:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent-text-color: #2196F3;
    --primery-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --thirty-bg-color: #F5F4FA;
    --primery-link-bg-color: #AFB1B8;

}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: inherit;
    text-align: center;
    letter-spacing: inherit;
    color: var(--title-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*---------------------HEADER-------------------*/

.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
}

.logo-accent {
    color: var(--accent-text-color);
}

.site-nav__list {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    position: relative;
    display: flex;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-text-color);
}

.site-nav__current {
    color: var(--accent-text-color);
    
}

.site-nav__current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-text-color);
    animation: current-nav 1000ms linear 300ms 1;
}

@keyframes current-nav {
    0% {
        width: 0%;
        }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}


.site-contacts__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-contacts__item:not(:last-child) {
    margin-right: 50px;
}

.site-contacts__link {
    display: flex;
    align-items: center;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.site-contacts__link:hover,
.site-contacts__link:focus {
    color: var(--accent-text-color);
}

.site-nav__link,
.site-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
}
/*--------------------HERO-------------------*/
/*-------Modal-order------*/
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.2);
}
.modal__form {
    min-width: 528px;
    min-height: 581px;
    background-color: var(--primery-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-text-color);
    cursor: pointer;
    padding: 0;
}

.modal__icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close:hover,
.modal__icon-close:focus{
    color: var(--accent-text-color); 
    fill: currentColor;
}

.form__title {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);
}

.form__sale {
    padding: 40px;
}

.form__field {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.form__input {
    height: 40px;
    margin: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.form__icon {
    position: absolute;
    top: 31px;
    left: 12px;
    fill: var(--title-text-color);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:focus .form__icon,
.form-field:hover .form__icon {
    color: var(--accent-text-color);
    fill: currentColor;
}

.form__textarea {
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__textarea:hover,
.form__input:focus,
.form__textarea:focus {
    border: 1px solid var(--accent-text-color);  
}

.form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__checkbox-label {  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.checkbox__icon{
    position: relative;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    background-size: contain;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox-label:focus .icon-checkbox,
.form__checkbox-label:hover .icon-checkbox{
    border: 2px solid var(--accent-text-color);
}
.checkbox{
    appearance: none;
    position: absolute;
}
.checkbox__link{
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-text-color);
}

.checkbox:checked + .checkbox__icon{
    display: inline-block;
    border: 2px solid var(--accent-text-color);
    background-color: var(--accent-text-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.form__btn-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


/*------Hero-section-----*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.btn {
    padding: 10px 32px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;   
    cursor: pointer;
}

.btn__animate {
    animation: btn__animate 2000ms linear infinite 1000ms;
}

@keyframes btn__animate {
    0% {
    transform: scale(1);
    }

    50% {
    transform: scale(1.15);
    }

    100% {
    transform: scale(1);
    }
}

.btn__animate:hover {
    animation-play-state: paused;
}

.btn:hover,
.btn:focus {
    background: #188CE8;
    animation-play-state: paused;
}

/*---------------------FEATURES-------------------*/

.features__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.features__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
}

.features__icon {
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 4px;
    background-color: var(--thirty-bg-color);
}  

.features__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

/*---------------------WORKS----------------------*/

.working__section--none-top {
    padding-top: 0;
}

.works__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.works__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;

    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    color: var(--white-text-color);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

/*---------------------OUR TEAM-------------------*/

.section--grey-background {
    background-color: var(--thirty-bg-color);
}

.our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.our-team__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    background-color: var(--primery-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
}

.our-team__text {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}

/*---------------------SOCIAL-ITEM-----------------*/

.social-media__list {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.social-media__item:not(:last-child) {
    margin-right: 10px;
}

.social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    background-color: var(--primery-bg-color);
    fill: var(--primery-link-bg-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover,
.social-media__link:focus {
    background-color: var(--accent-text-color);
    fill: var(--white-text-color);
}

/*---------------------OUR-CLIENT----------------*/

.our-clients__list {
    display: flex;
    justify-content: center;
}

.our-clients__item:not(:last-child) {
    margin-right: 30px;
}

.our-clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--primery-link-bg-color);
    border-radius: 4px;
    color: var(--primery-link-bg-color);
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients__link:focus,
.our-clients__link:hover {
    fill: var(--accent-text-color);
    border-color: var(--accent-text-color);
}


/*---------------------PORTFOLIO-------------------*/

.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__btn {
    padding: 6px 22px;
    font-size: 16px;
    line-height: 1.62;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--thirty-bg-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover,
.filter__btn:focus {
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
}

.portfolio__link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
    transform: translateY(0);
    display: block;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.portfolio__overlay {
    position: relative;
    overflow: hidden;

}

.portfolio__overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    font-size: 18px;
    font-weight: 400;

    line-height: 1.555;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    background-color: var(--accent-text-color);
}

.portfolio__link:hover .portfolio__overlay-content,
.portfolio__link:focus .portfolio__overlay-content {
    transform: translateY(0);
}

.portfolio__overlay--text {
    padding-right: 24px;
    padding-left: 24px;
    text-align: left;
}

.portfolio__description {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio__title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.portfolio__text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primery-text-color);
}

/*---------------------FOOTER-------------------*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg-color);
}

.footer__container {
    display: flex;
    align-items: baseline;

}

.footer__site-contact {
    margin-right: 70px;
}

.logo__text--white {
    margin-right: 0;
    color: var(--white-text-color);
}

.address {
    margin-top: 20px;
    font-style: normal;
}

.address__list {
    font-weight: 400;
}

.contact__link:hover,
.contact__link:focus {
    color: var(--accent-text-color);
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    color: var(--white-text-color);
}

.contact__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__media-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer__media-list {
    display: flex;
    margin-top: 20px;
}

.footer__media-item:not(:last-child) {
    margin-right: 10px;
}

.footer__media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    fill: var(--white-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__media-link:hover,
.footer__media-link:focus {
    background-color: var(--accent-text-color);
}

.footer__sign {
    margin-left: 93px;
}

.strong {
    display: block;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.sign {
    display: flex;
}

.sign__icon {
    margin-left: 10px;
}

.sign__input {
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 14px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--white-text-color);
    background: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign__input:hover,
.sign__input:focus {
    border: 1px solid var(--accent-text-color);
}

.sign__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 27px;
    align-items: center;
    font-size: 16px;  
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;  
}
