body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: inherit;
    text-align: center;
    letter-spacing: inherit;
    color: var(--title-text-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}